{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}

{% block body %}
<div class="container text-dark py-3">
    <div class="jumbotron">
        <h5 class="display-3"> {{ content }} </h5>
        <p class="lead">
            Nous mettons en relation les achéteurs et les vendeurs de toutes sortes
            d'objets sur l'ensemble de la ville de Bamako et ses environs.
            Nos principales pulications concernent surtout la location de biens immobilières(
            appartement, chambre, magasin)...
        </p>
        <hr class="my-4">
        <p>
            Vous êtes à la recherche des objects à bon prix (neufs ou seconde
            mains), alors vous êtes au bon endroit !
            Ou encore vous avez quelque à mettre en vente, il vous suffit de
            la publer sur notre site (prix, description, contact...) !
        </p>
        <p>
            Ou encore, vous cherchez un bel appartement pour vous loger pour une courte ou longue dure,
            alors là, vous allez adorés nos services !
        </p>
        <p class="lead">
            <p>Vous avez des doutes, cliquer ici pour</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>
    <h2 class="text-info">Nos annonces stars</h2>
    <div class="row mt-3">
        {% for ad in ads | slice (0, 6) %}

            <div class="col-md-4">
                <div class="card badge-light mb-3">
                    <div class="card-header text-center">
                        {{ ad.nombreAd }} {{ ad.title }}, <strong>{{ ad.price }} FCFA</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <a href="uploads/{{ ad.image }}">
                    <img src="uploads/{{ ad.image }}" alt="Image du téléphone" style="width:100% ; height:250px ;display:block">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ ad.title }} </h4>
                        <p class="card-text">{{ ad.introduction }}</p>
                        <a class="btn btn-primary" href="{{ path('annonces_show', {'slug':ad.slug}) }}" role="button">En savoir plus</a>
                        {% if app.user and app.user == ad.author %}
                            <a class="btn btn-secondary" href="{{ path('annonces_edit', {'slug': ad.slug}) }}">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="text-info">Nos vendeurs stars</h2>
    <div class="row mt-3">
        {% for ad in ads | slice (0, 6)%}
            <div class="col-sm-4">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ ad.author.firstName }} {{ ad.author.lastName }}</h4>
                        <hr>
                        <div class="card-text">
                            <img style="height: 60px; width: 15%; display: block" src="usersimages/{{ ad.author.picture }}" alt="Image du vendeur" class="float-left mr-3">
                            <p>{{ ad.author.presentation }}!</p>
                            <a class="btn btn-success float-right" href="{{ path('annonces_show', {'slug': ad.slug }) }}" >Voir !</a>
                            {% if app.user and app.user == ad.author %}
                                <a class="btn btn-primary float-right mr-1" href="{{ path('annonces_edit', {'slug': ad.slug}) }}">edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

