{% block title %}Annonces!{% endblock %}
{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="my-3">Voici nos annonces pertinentes</h1>

        <div class="row">
            {% for ad in ads %}
                {% set url = path ('annonces_show', {'slug' : ad.slug}) %}

                <div class="col-md-4">
                    <div class="card badge-light mb-3">
                        <div class="card-header text-center">
                            {{ ad.nombreAd }} téléphones Galaxy A50, <strong>{{ ad.price }}&euro; chacun</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        <a href="{{ url }}">
                            <img src="/uploads/{{ ad.image }}" alt="Image du téléphone" style="width:100% ; height:250px ;display:block">
                        </a>
                        <div class="card-body">
                            <a href="{{ url }}">
                                <h4 class="card-title">{{ ad.title }} </h4>
                            </a>
                            <p class="card-text">{{ ad.introduction }}</p>
                            <a class="btn btn-secondary" href="{{ path('annonces_show', {'slug': ad.slug}) }} ">show</a>
                            <a class="btn btn-secondary" href="{{ path('annonces_edit', {'slug': ad.slug}) }}">edit</a>

                        </div>
                    </div>
                </div>
                {%  else %}
                    <p class=" alert alert-warning">Pas d'annonces pour l'instant, revenez plutard !</p>
            {% endfor %}
        </div>
       <p> <a class="btn btn-primary" href="{{ path('annonces_new') }}">Create new</a></p>
    </div>
{% endblock %}

